/* CSS Resets */
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Page styling */
body {
    background-color: #3E3E3E;
    color: rgb(235, 235, 235);
    transition: all 2s;
    font-family: "Comme", sans-serif;
    font-weight: 400;
}

body.switch {
    background-color: rgb(235, 235, 235);
    color: #333;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
}

header {
    margin: 0 auto 2em auto;
    font-family: "Bellota Text", sans-serif;
    font-weight: 700;
}

#banner {
    position: relative;
    display: flex;
    width: 1100px;
    height: 250px;
    margin: auto;
    background-color: rgb(235, 235, 235);
    color: #333;
    overflow: hidden;
    display: grid;
	place-items: center;
}

#banner.switch {
    background-color: #333;
    color: rgb(235, 235, 235);
    transition: all 2s;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
}

main section {
    flex: 1;
    border: 1px rgb(235, 235, 235) dashed;
    margin: 0 .25em;
    padding: 1em;
}

a {
    text-decoration: none;
}

nav ol, nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: orange;
}

section a:hover {
    background-color: orange;
    color: #333;
}

section.switch a {
    color: #333;
}

section.switch a:hover {
    background-color: #333;
    color: rgb(235, 235, 235);
}

#buttonContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #4F65A1;
    width: 200px;
    height: 80px;
    border-radius: 85px;
    /* display: flex; */
}

button {
    padding: 5px;
    background-color: #B5B5B5;
    border: 1px solid transparent;
    width: 190px;
    height: 70px;
    border-radius: 85px;
    /* align-self: center;
    margin: auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    overflow: hidden;
}

button:hover {
    background-color: #BBD8FF;
    cursor: pointer;
}

button.switch {
    background-color: #BBD8FF;
}

button.switch:hover {
    background-color: #9dbde7;
}

button img {
    transition: transform 1s ease-out;
}

#brella {
    /* margin: 0;
    padding: 0; */
    position: absolute;
    top: 5%;
    left: 5%;
}

#sun {
    position: absolute;
    bottom: 5%;
    right: 5%;
    transform: translateX(50%) translateY(-100%);
}