* {
    box-sizing: border-box;
}

body {
    background-color: #31343a;
    color: #ebebeb;
    font-family: "Comme", sans-serif;
    font-weight: 400;
    line-height: 1.3em;
}

#container {
    max-width: 800px;
    padding-top: 10px;
    margin: auto;
}

article {
    background-color:#454850 ;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
}

article img {
    width: 100%;
    height: auto;
}

article a {
    color: #ebebeb;
}