#container {
    display: block;
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    /* position: relative; */
    margin-top: 50px;
}

#gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: aqua; */
}

#map { 
    height: 500px;
    margin-top: 20px;
}